@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.about-cont {
	position: relative;
	@include tablet {
		padding: 0 3.95rem;
	}
	.ellipse {
		display: none;
		@include tablet {
			position: absolute;
			left: 0.8rem;
			bottom: 0.8rem;
			display: block;
			z-index: 1;
			color: $ellipse-color-primary;
		}
	}
}

.about {
	display: grid;
	row-gap: 5.5rem;
}
.about-title {
    @include flex(null, null, column, 1.5rem);
	text-align: center;
	h2 {
		font-weight: 600;
		font-size: 2.8rem;
		line-height: 3.6rem;
		letter-spacing: 0.02rem;
		color: $color-text-heading;
        @include tablet {
            font-size: 4.2rem;
        }
	}
	.p {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.8rem;
		color: $color-text-secondary;
		letter-spacing: 0.02rem;
	}
}
.card__wrapper {
	display: grid;
	grid-template-columns: repeat(1, minmax(26.4rem, 37.1rem));
	row-gap: 5.5rem;
	column-gap: 2rem;
	justify-content: center;
	@include tablet {
		grid-template-columns: repeat(3, minmax(26.4rem, 37.1rem));
	}
	.about-us-card {
		@include flex(null, center, column);
        position: relative;
		text-align: center;
		border-radius: $border-radius-about-card;
		min-height: 24.3rem;
		max-height: 27.3rem;
		box-shadow: $color-about-card-shadow;
        background-color: $color-btn-secondary;
        padding: 0 4.4rem;
        z-index: 2;
		h2 {
			font-family: $font-jakarta;
			font-style: normal;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2.3rem;
			color: $color-text-secondary;
            @include tablet {
                font-size: 2.2rem;
            }
		}
		p {
			font-style: normal; 
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 180%;
			color: $color-text-subtle;
		}
		&:hover {
			animation: bounce 0.7s forwards;
		}
	}
}

.doc {
    @include flex(center, center, row);
	position: absolute;
	left: 50%;
	top: -2.5rem;
	transform: translate(-50%);
	height: 5.05rem;
	background-color: $color-header-primary;
	width: 5.05rem;
	border-radius: 50%;
    @include tablet {
		width: 7.1rem;
        height: 7.1rem;
	}
	img {
		min-width: 1.667rem;
		max-width: 2.343rem;
	}
}

#theme-toggle:checked ~ .page {
	.about-us-card h2, .about-us-card p {
        color: $color-text-subtle-dark;
    }

	.ellipse {
		color: $ellipse-color-secondary;
	}
}