@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.contact {
	padding-top: 2rem;
	.contact__container {
		@include flex(center, center, column, 2rem);
		background-color: $color-accent;
		border-radius: 2.9rem;
		padding: 1.5rem;
	}

	.contact__header {
		@include flex(center, center, column, 2rem);
		padding: 1rem;
		text-align: center;
	}
}

// dark mode

#theme-toggle:checked ~ .page {
	.contact__header h2, .contact__header p {
		color: $color-text-subtle-dark;
	}
}

// desktop

@media (min-width: 1024px) {
	.contact {
		.contact__container {
			padding: 3rem 15rem;
		}
	}
}
