@font-face {
  font-family: 'Avenir';
  font-display: swap;
  src: url('../fonts/Avenir/AvenirLTStd-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Jakarta';
  font-display: swap;
  src: url('../fonts/Jakarta/PlusJakartaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}  
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
} 
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: url('../fonts/Poppins/SemiBold.ttf') format('truetype');
    font-weight: 600;
} 
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
} 