@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.read-more {
	display: grid;
	justify-self: center;
	font-weight: 600;
	color: $color-btn-secondary;
	padding: 0.8rem 1.2rem;
	background: $color-header-primary;
	border-radius: 0.8rem;
    @include tablet {
		padding: 1.5rem 4.4rem;
	}
}