@charset "UTF-8";
/* 1. COLORS */
/* 1.1 light theme colors */
/* 1.2 dark theme colors */
/* 2 Additional variables */
/* 2.1 Border radius variables */
/* 2.2 Fonts variables */
/* box shadows */
@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir/AvenirLTStd-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Jakarta";
  font-display: swap;
  src: url("../fonts/Jakarta/PlusJakartaSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/SemiBold.ttf") format("truetype");
  font-weight: 600;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.header {
  width: 100%;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .header__wrapper .header-text {
  display: none;
}

.header__logo {
  position: relative;
  display: inline-block;
  min-width: 120px;
  min-height: 32px;
}

.header__logo svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.theme-toggle {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.theme-toggle svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/* LIGHT MODE */
.logo-dark,
.theme-dark {
  opacity: 0;
  pointer-events: none;
}

.logo-light,
.theme-light {
  opacity: 1;
}

.navbar .menu-toggle {
  display: none;
}
.navbar .menu-toggle:checked ~ .menu-overlay {
  transform: translateX(0);
  opacity: 1;
}
.navbar .burger-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  height: 37px;
  z-index: 101;
  position: relative;
}
.navbar .burger-button .icon {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 18px;
}
.navbar .burger-button .icon span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #3A4C66;
  transition: 0.3s;
}
.navbar .desktop-toggle {
  display: none;
}
.navbar .menu-overlay {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 0;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  padding: 60px 20px 20px 20px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 99;
}
.navbar .menu-overlay .menu-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  list-style: none;
}
.navbar .menu-overlay .menu-links a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
.navbar .menu-overlay .menu-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.navbar .menu-overlay .menu-actions .btn-primary {
  display: block;
  padding: 12px 30px;
  border: 2px;
  border-radius: 8px;
  background-color: #000000;
  color: #FFFFFF;
  width: auto;
  text-align: center;
}
.navbar .menu-toggle:checked ~ .menu-overlay {
  transform: translateX(0);
}

#theme-toggle:checked ~ .page {
  background-color: #1E2A39;
  color: #ffffff;
}
#theme-toggle:checked ~ .page .navbar .menu-toggle:checked ~ .menu-overlay {
  background-color: #1E2A39;
}
#theme-toggle:checked ~ .page .desktop-toggle .theme-dark {
  opacity: 1; /* აჩენს აიკონს დარქ მოუდში */
  pointer-events: auto;
}
#theme-toggle:checked ~ .page {
  /* HEADER */
}
#theme-toggle:checked ~ .page .header {
  background-color: #1E2A39;
}
#theme-toggle:checked ~ .page {
  /* LOGO SWITCH */
}
#theme-toggle:checked ~ .page .logo-light {
  opacity: 0;
}
#theme-toggle:checked ~ .page .logo-dark {
  opacity: 1;
}
#theme-toggle:checked ~ .page {
  /* THEME ICON SWITCH */
}
#theme-toggle:checked ~ .page .theme-light {
  opacity: 0;
}
#theme-toggle:checked ~ .page .theme-dark {
  opacity: 1;
}
#theme-toggle:checked ~ .page {
  /* BURGER */
}
#theme-toggle:checked ~ .page .burger-button .icon span {
  background-color: #ffffff;
}
#theme-toggle:checked ~ .page {
  /* MENU */
}
#theme-toggle:checked ~ .page .menu-overlay a {
  color: #ffffff;
}
#theme-toggle:checked ~ .page .menu-overlay .btn-primary {
  background-color: #ffffff;
  color: #1E2A39;
}

@media (min-width: 1024px) {
  .desktop-toggle {
    display: flex; /* ახლა გამოჩნდება desktop toggle */
    cursor: pointer;
  }
  .desktop-toggle svg {
    width: 24px;
    height: 24px;
  }
  .desktop-toggle svg path {
    fill: #FFFFFF;
  }
  .header .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    border-radius: 8px;
    background-color: #052A44;
    color: #FFFFFF;
    padding: 10px 24px;
  }
  .header .header__wrapper .header-text {
    display: block;
  }
  .header .header__wrapper .header__logo {
    display: none;
  }
  .header .header__wrapper .header__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    flex: 1;
  }
  .header .header__wrapper .theme-toggle {
    display: none !important;
  }
  .header .header__wrapper .navbar .menu-overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    position: static;
    height: auto;
    transform: none;
    background: transparent;
    padding: 0;
    overflow: visible;
  }
  .header .header__wrapper .navbar .menu-overlay .menu-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-80%);
  }
  .header .header__wrapper .navbar .menu-overlay .desktop-toggle {
    display: flex;
    gap: 0;
    cursor: pointer;
  }
  .header .header__wrapper .navbar .menu-overlay .desktop-toggle .theme-dark {
    opacity: 1;
    pointer-events: auto;
  }
  .header .header__wrapper .navbar .menu-overlay .desktop-toggle .theme-dark .path {
    fill: #FFFFFF;
  }
  .header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .navbar .burger-button {
    display: none;
  }
  .navbar .menu-overlay {
    display: flex;
    align-items: center;
    gap: 40px;
    position: static;
    transform: none;
    opacity: 1;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
  }
  .navbar .menu-overlay .menu-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .navbar .menu-overlay .menu-links a {
    font-weight: 500;
    color: inherit;
  }
  .navbar .menu-overlay .menu-actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .navbar .menu-overlay .menu-actions .btn-signin {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
  .navbar .menu-overlay .menu-actions .btn-primary {
    width: auto;
    padding: 10px 24px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
  }
  .navbar .menu-overlay .menu-actions .btn-primary:hover {
    background-color: #cccccc;
  }
}
.page {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .page {
    gap: 8rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  main {
    gap: 8rem;
  }
}

.container {
  width: 100%;
  padding: 0 1.6rem;
}
@media (min-width: 1200px) {
  .container {
    max-width: 114rem;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
.container .hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.4rem;
  text-align: center;
}
@media (min-width: 768px) {
  .container .hero__content {
    gap: 2.4rem;
    align-items: flex-start;
    text-align: left;
  }
}
.container .hero__content h1 {
  font-size: 3.2rem;
  color: #183B56;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
  letter-spacing: 0.02rem;
}
@media (min-width: 768px) {
  .container .hero__content h1 {
    color: #000000;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 5.6rem;
    text-transform: capitalize;
  }
}
@media (min-width: 768px) {
  .container .hero__content h1 span {
    color: #E8DB84;
  }
}
.container .hero__content p {
  font-size: 1.6rem;
  color: #000000;
}
.container .hero__content .hero__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.4rem;
}
.container .hero__content .hero__buttons .btn {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
}
@media (min-width: 768px) {
  .container .hero__content .hero__buttons .btn {
    padding: 1.5rem 4.3rem;
  }
}
.container .hero__content .hero__buttons .btn--primary {
  background-color: #052A44;
  color: #ffffff;
}
.container .hero__content .hero__buttons .btn--play {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 2px -2px 38px rgba(0, 0, 0, 0.08);
  padding-left: 1rem;
  border-radius: 50%;
  padding: 0.8rem;
  width: 3.7rem;
  height: 3.7rem;
}
@media (min-width: 768px) {
  .container .hero__content .hero__buttons .btn--play {
    width: 5.3rem;
    height: 5.3rem;
  }
}
.container .hero__content .hero__buttons .btn--play img {
  width: 1.7rem;
  height: 1.7rem;
  margin-left: 0.4rem;
}
.container .hero__content .hero__buttons .btn--link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.4rem;
  padding: 1.5rem 0.3rem;
}
.container .hero__content .hero-satisfied {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container .hero__statistics {
  position: relative;
  width: 100%;
  height: clamp(28.1rem, 23.87rem + 21.17vw, 40.8rem);
}
.container .hero__statistics .hero-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.51rem;
  position: absolute;
  z-index: 1;
  left: -5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 10rem;
}
@media (min-width: 768px) {
  .container .hero__statistics .hero-info {
    width: 100%;
    gap: 1.2rem;
  }
}
.container .hero__statistics .hero-info .hero-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.1rem;
  min-width: 9rem;
  max-width: 14.3rem;
  padding: 0.8rem;
  box-shadow: 0.73829px 1.47658px 14.0275px rgba(0, 0, 0, 0.08);
  border-radius: 1.373rem;
  background-color: white;
}
@media (min-width: 768px) {
  .container .hero__statistics .hero-info .hero-card {
    padding: 2.05rem;
    gap: 1rem;
  }
}
.container .hero__statistics .hero-info .hero-card h3 {
  font-family: "Avenir", sans-serif;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .container .hero__statistics .hero-info .hero-card h3 {
    font-size: 1.28rem;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: -0.01em;
  }
}
.container .hero__statistics .hero-info .hero-card h4 {
  font-family: "Avenir", sans-serif;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .container .hero__statistics .hero-info .hero-card h4 {
    font-size: 1.03rem;
    color: #2E2E2E;
  }
}
.container .hero__statistics .hero-info span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #052A44;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  font-size: 1rem;
  color: white;
}
@media (min-width: 768px) {
  .container .hero__statistics .hero-info span {
    width: 3.02rem;
    height: 3.02rem;
    font-size: 1.7rem;
  }
}
.container .hero__statistics .hero-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 23.2rem;
  background-color: #E8DB84;
  border-radius: 1.6rem;
  height: clamp(24.1rem, 18.53rem + 27.86vw, 40.8rem);
}
@media (min-width: 768px) {
  .container .hero__statistics .hero-bg {
    width: 50.4rem;
  }
}
.container .hero__statistics .hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 27.5rem;
}
@media (min-width: 768px) {
  .container .hero__statistics .hero-img {
    height: auto;
  }
}
.container .hero__satisfied {
  display: none;
}
@media (min-width: 768px) {
  .container .hero__satisfied {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.2rem;
  }
}
.container .hero__satisfied .statistics {
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.30873rem;
}
.container .people {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .people img {
  position: relative;
  object-fit: cover;
}
.container .people img:not(:first-child) {
  margin-left: -0.5rem;
}
.container .big img {
  position: relative;
  object-fit: cover;
}
.container .big img:not(:first-child) {
  margin-left: -2rem;
}

.about-cont {
  position: relative;
}
@media (min-width: 768px) {
  .about-cont {
    padding: 0 3.95rem;
  }
}
.about-cont .ellipse {
  display: none;
}
@media (min-width: 768px) {
  .about-cont .ellipse {
    position: absolute;
    left: 0.8rem;
    bottom: 0.8rem;
    display: block;
    z-index: 1;
  }
}

.about {
  display: grid;
  row-gap: 5.5rem;
}

.about-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.about-title h2 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.02rem;
  color: #183B56;
}
@media (min-width: 768px) {
  .about-title h2 {
    font-size: 4.2rem;
  }
}
.about-title .p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #000000;
  letter-spacing: 0.02rem;
}

.card__wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(26.4rem, 37.1rem));
  row-gap: 5.5rem;
  column-gap: 2rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .card__wrapper {
    grid-template-columns: repeat(3, minmax(26.4rem, 37.1rem));
  }
}
.card__wrapper .about-us-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  text-align: center;
  border-radius: 1.1rem;
  min-height: 24.3rem;
  max-height: 27.3rem;
  box-shadow: 1.42318px 2.84636px 27.0404px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 0 4.4rem;
  z-index: 2;
}
.card__wrapper .about-us-card h2 {
  font-family: "Jakarta", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #000000;
}
@media (min-width: 768px) {
  .card__wrapper .about-us-card h2 {
    font-size: 2.2rem;
  }
}
.card__wrapper .about-us-card p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 180%;
  color: #071210;
}

.doc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  left: 50%;
  top: -2.5rem;
  transform: translate(-50%);
  height: 5.05rem;
  background-color: #052A44;
  width: 5.05rem;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .doc {
    width: 7.1rem;
    height: 7.1rem;
  }
}
.doc img {
  min-width: 1.667rem;
  max-width: 2.343rem;
}

.read-more {
  display: grid;
  justify-self: center;
  background: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  gap: 1rem;
  background: #052A44;
  border-radius: 0.8rem;
}
@media (min-width: 768px) {
  .read-more {
    padding: 1.5rem 4.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
