@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.container__footer {
	@include flex(center, null, column, 2rem);
	width: 100%;
	padding: 0 1.6rem;

	.footer__top {
		@include flex(center, null, column, 2rem);
		width: 100%;
		padding-bottom: 2rem;
		& .footer__contact {
			@include flex(center, space-between, column, 1rem);
			& h2 {
				color: $color-header-primary;
			}
		}
		& .footer__social {
			@include flex(center, space-between, column, 1rem);
			.social__logos {
				@include flex(center, center, null, 2rem);

				.social__link {
					@include flex(center, center, null, null);
					width: 4rem;
					height: 4rem;
					border: 1px solid $color-text-secondary;
					border-radius: 50%;
					text-decoration: none;
					color: $color-text-secondary; 
					transition: all 0.3s ease;

					svg {
						height: 18px;
						width: auto;
					}

					&:hover {
						color: $color-btn-close;   
						border-color: $color-btn-close;
					}
				}
			}
		}
		& .footer-mail {
			@include flex(center, null, column, 1rem);
		}
	}
	.desktop-cr {
		display: none;
	}
}

// dark mode
#theme-toggle:checked ~ .page {
	.social__link {
		border-color: $color-text-heading-dark;

		svg {
			path {
				fill: $color-text-heading-dark;
			}
		}
	}

	h2 {
		color: $color-text-secondary-dark;
	}
}
@media (min-width: 1024px) {
	.container__footer {
		display: grid;
		grid-template-rows: 1fr auto;
		max-width: 114rem;
		margin: auto;

		.footer__top {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: start;
			padding-bottom: 4rem;

			.footer__contact {
				justify-self: start;
				align-items: start;
			}

			.footer__social {
				justify-self: center;
			}

			.footer-mail {
				justify-self: end;
				align-items: end;
			}
		}

		.desktop-cr {
			@include flex(center, center, null, null);
			border-top: 1px solid #e4d8d8;
			padding-top: 2.4rem;
			margin-bottom: 4rem;
			text-align: center;

			a {
				color: $color-btn-close;
			}
		}
	}
}
