@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.container__footer {
    @include flex(center, null, column, 2rem);
     width: 100%;


   .footer__top {
    @include flex(center, null, column, 1rem);
        width: 100%;
        

    .footer__contact {
        @include flex(center, space-between, column, 1rem);
    }

    .footer__social {
        @include flex(center, space-between, column, 1rem);
        .social__logos {
            @include flex(center, center, null, 2rem);

            .social__link {
                @include flex(center, center, null, null);
                width: 4rem;
                height: 4rem;
                border: 1px solid $color-text-secondary;
                border-radius: 50%;
                transition: all 0.3s ease;
                text-decoration: none;
            }
            
            svg {
                height: 18px;
                width: auto;
                
                // &:nth-child(1) {
                // width: 9px;
                // }
              
                // &:nth-child(2) {
                // width: 17px;
                // }

                // &:nth-child(3) {
                // width: 17px;
                // }

                path {
                fill: $color-text-secondary;
                transition: fill 0.3s ease;
                }

                &:hover path {
                fill: $color-text-heading;
                border-color: $color-text-heading;
                }
            }
        }
    }

    .footer-mail{
        @include flex(center, null, column, 1rem)
    }

    
}

}
 
 
// dark mode

#theme-toggle:checked ~ .page {
    .social__link {
        border-color: $color-text-heading-dark;

        svg {
            path {
                fill: $color-text-heading-dark;

            }
        }
    }


}

// desktop

@media (min-width: 1024px) {
    .container__footer {
        display: grid;
        grid-template-rows: 1fr auto;
        max-width: 114rem;
        margin: auto;
        
        .footer__top {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: start;
            padding-bottom: 4rem;

            .footer__contact {
                justify-self: start;
                align-items: start;
            }

            .footer__social {
                justify-self: center;
            }

            .footer-mail {
                justify-self: end;
                align-items: end;
            }
        }

        .desktop-cr {
            @include flex(center, center, null, null);
            border-top: 1px solid #E4D8D8;
            padding-top: 2.4rem;
            margin-bottom: 4rem;
            text-align: center;
        }
        
    }
   

}    