@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "sass:color";

.header {
	width: 100%;
}

.header {
	width: 100%;
	padding: 2rem;
	display: flex;
	align-items: center;

	&__wrapper {
		@include flex(center, space-between, null, 0);
		width: 100%;
	}

	&__actions {
		@include flex(center, null, null, 1.5rem);
	}

	.header__wrapper {
		.header-text {
			display: none;
		}
	}
}

// logo and icon default
.header__logo {
  @include flex(center, center, null, null);
	position: relative;
	min-width: 12rem;
	min-height: 3.2rem;
  z-index: 11;
}

.header__logo svg {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease;
}
// test
.header__logo img {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease;
}

.theme-toggle {
	position: relative;
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
}

.theme-toggle svg {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease;
	cursor: pointer;
}

/* LIGHT MODE */
.logo-dark,
.theme-dark {
	opacity: 0;
	pointer-events: none;
}

.logo-light,
.theme-light {
	opacity: 1;
}

.navbar {
  @include flex(center, center, row, 1.2rem);
	.menu-toggle {
		display: none;

		&:checked ~ .menu-overlay {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.burger-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		z-index: 101;
		position: relative;

		.icon {
			@include flex(null, null, column, 0.3rem);
			width: 1.8rem;

			span {
				display: block;
				height: 0.2rem;
				width: 100%;
				background-color: $color-burger-menu;
				transition: 0.3s;
			}
		}
	}

	.desktop-toggle {
		display: none;
	}

	.menu-overlay {
		@include flex(null, space-around, column, 0);
		position: fixed;
		right: 0;
		// width: 200px; // ან 80% დიზაინის მიხედვით
		// height: 350px;
		top: 6rem;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: $color-btn-secondary;
		padding: 6rem 2rem 2rem 2rem;
		transform: translateX(100%);
		transition: transform 0.4s ease-in-out;
		z-index: 10;

		.menu-links {
			@include flex(center, null, column, 2.5rem);
			list-style: none;

			a {
				text-decoration: none;
				color: $color-text-secondary;
				font-size: 1.6rem;
			}
		}
		.menu-actions {
			@include flex(center, center, column, 2rem);

			.btn-primary {
				display: block;
				padding: 1.2rem 3rem;
				border: 0.2rem;
				border-radius: 0.8rem;
				background-color: $color-text-secondary;
				color: $color-background-main;
				width: auto;
				text-align: center;
			}
		}
	}
	.menu-toggle:checked ~ .menu-overlay {
		transform: translateX(0);
	}
}

// dark mode

#theme-toggle:checked ~ .page {
	background-color: $color-background-main-dark;
	color: $color-text-heading-dark;

	.navbar {
		.menu-toggle {
			&:checked ~ .menu-overlay {
				background-color: $color-background-main-dark;
			}
		}
	}

	.desktop-toggle {
		.theme-dark {
			opacity: 1; /* აჩენს აიკონს დარქ მოუდში */
			pointer-events: auto;
		}
	}

	/* HEADER */
	.header {
		background-color: $color-background-main-dark;
	}

	/* LOGO SWITCH */
	.logo-light {
		opacity: 0;
	}

	.logo-dark {
		opacity: 1;
	}

	/* THEME ICON SWITCH */
	.theme-light {
		opacity: 0;
	}

	.theme-dark {
		opacity: 1;
	}

	/* BURGER */
	.burger-button .icon span {
		background-color: $color-text-heading-dark;
	}

	/* MENU */
	// ეს გასასწორებელია
	.menu-overlay {
		// background-color: #0f172a;

		a {
			color: $color-text-heading-dark;
		}

		.btn-primary {
			background-color: $color-text-heading-dark;
			color: $color-background-main-dark;
		}
	}
}

// desktop

@media (min-width: 1024px) {
	.desktop-toggle {
		display: flex; /* ახლა გამოჩნდება desktop toggle */
		cursor: pointer;
		svg {
			width: 2.4rem;
			height: 2.4rem;
			path {
				fill: $color-text-primary;
			}
		}
	}

	.header {
		.header__wrapper {
			@include flex(center, space-between, null, 0);
			border-radius: 0.8rem;
			background-color: $color-btn-primary;
			color: $color-text-primary;
			padding: 1rem 2.4rem;

			.header-text {
				display: block;
			}

			.header__logo {
				display: none;
			}

			.header__actions {
				@include flex(center, flex-end, null, 3rem);
				flex: 1;
			}

			.theme-toggle {
				display: none !important;
				// order: 2;
				// color: white;
				// display: flex;
				// cursor: pointer;
				// svg {
				//     width: 24px;
				//     height: 24px;

				//     path {
				//         fill: white;
				//     }
				// }
			}

			.navbar {
				.menu-overlay {
					@include flex(center, space-between, row, 4rem);
					width: 100%;
					position: static;
					height: auto;
					transform: none;
					background: transparent;
					padding: 0;
					overflow: visible;

					.menu-nav {
						position: absolute;
						left: 50%;
						transform: translateX(-80%);
					}
					.desktop-toggle {
						@include flex(null, null, null, null);
						cursor: pointer;

						.theme-dark {
							opacity: 1;
							pointer-events: auto;

							.path {
								fill: $color-text-primary;
							}
						}
					}
				}
			}
		}

		&__actions {
			@include flex(center, null, null, 3rem);
		}
	}

	.navbar {
		.burger-button {
			display: none;
		}

		.menu-overlay {
			@include flex(center, null, null, 4rem);
			position: static;
			transform: none;
			opacity: 1;
			width: auto;
			height: auto;
			background: transparent;
			padding: 0;

			.menu-links {
				@include flex(null, null, row, 3rem);

				a {
					font-weight: 500;
					color: inherit;
				}
			}

			.menu-actions {
				@include flex(null, null, row, 2rem);

				.btn-signin {
					text-decoration: none;
					color: inherit;
					font-weight: 600;
				}

				.btn-primary {
					width: auto;
					padding: 1rem 2.4rem;
					background-color: $color-text-primary;
					color: $color-text-secondary;
					border: none;

					&:hover {
						background-color: color.scale(
							$color-btn-secondary,
							$lightness: -20%
						);
					}
				}
			}
		}
	}
}
