@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.page {
  @include flex(null, null, column, 8rem);
}

.container {
  width: 100%;
  padding: 0 1.6rem;

  @media (min-width: 1200px) {
    max-width: 114rem;
    margin: 0 auto;
  }
}